.UserInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.UserInfo h2 {
    font-size: 16px;
}
.user {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.icons {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
}

.icons svg{
    font-size:18px;
    cursor: pointer;
}

.video{
    margin:0px 15px
}


.user img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}